<%= f.input :name, label: 'Name' %><br><br>
<%= f.input :tag_list, label: 'Categories' %><br><br>
<%= f.input :note, as: :text, label: 'Notes' %><br><br>
<h3>Attach Files</h3>
<%= f.input :drawing, as: :file, label: 'ARC Application Attachment' %>
<%= f.input :image, as: :file, label: 'Add An Image' %>
<%= f.input :image_two, as: :file, label: 'Add Another Image' %>
<%= f.input :image_three, as: :file, label: 'Add Another Image' %>
<%= f.input :image_four, as: :file, label: 'Add Another Image' %>
<%= f.input :image_five, as: :file, label: 'Add Another Image' %>
