<%= simple_form_for @design_application, :url => design_applications_path, :html => { :multipart => true } do |f| %>
  <%# Errors Code %>
  <div> 
    <% if @design_application.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@design_application.errors.count, "error") %> prohibited
          this application from being saved:
        </h2>
        <ul>
          <% @design_application.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%# DA Questions %>
  <div>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :work_address %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :image, as: :file %>
    <%= f.input :drawing, as: :file %>
    <h5>Add Impacted Neighbors</h5>
    <div>
      <%= f.simple_fields_for :neighbors do |neighbor| %>
        <%= render 'neighbor_fields', :f => neighbor %>
      <% end %>
      <%= link_to_add_association 'add neighbor', f, :neighbors %>
    </div>
    <%= f.submit %>
  </div> 
<% end %>
 
<%= link_to 'Back', design_applications_path %>