<%= simple_form_for @design_application, :url => design_applications_path, :html => { :multipart => true }, wrapper: :horizontal_form do |f| %>
  <%# Errors Code %>
  <div> 
    <% if @design_application.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@design_application.errors.count, "error") %> prohibited
          this application from being saved:
        </h2>
        <ul>
          <% @design_application.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%# DA Questions %>
  <div class="col-md-12">
    <h1>Create a New Design Application</h1>
    <hr>
    <div class="col-md-6">
      <%= f.input :name, label: 'Lot Number' %><br><br>
      <%= f.input :tag_list, label: 'Categories' %><br><br>
      <%= f.input :note, as: :text, label: 'Notes' %><br><br>
    </div>
    <div class="col-md-6" style=" border-left: thin solid #D2D6DB;">
      <h3>Attach Files</h3>
      <div>
        <%= f.input :drawing, as: :file, label: 'ARC Application Attachment' %>
        <%= f.input :image, as: :file, label: 'Add An Image' %>
        <%= f.input :image_two, as: :file, label: 'Add Another Image' %>
        <%= f.input :image_three, as: :file, label: 'Add Another Image' %>
        <%= f.input :image_four, as: :file, label: 'Add Another Image' %>
        <%= f.input :image_five, as: :file, label: 'Add Another Image' %>
      </div>
    </div>
    <div class="col-md-12">
      <hr>
      <%= f.button :submit %>
    </div>
  </div> 
<% end %>