<%= simple_form_for @design_application, :url => design_applications_path, :html => { :multipart => true }, wrapper: :horizontal_form do |f| %>
  <%# Errors Code %>
  <div> 
    <% if @design_application.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@design_application.errors.count, "error") %> prohibited
          this application from being saved:
        </h2>
        <ul>
          <% @design_application.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%# DA Questions %>
  <div class="col-md-12">
    <h1>Create a New Design Application</h1>
    <hr>
    <div class="col-md-6"  style="border-right: thin solid #D2D6DB;">
      <%= f.input :name, placeholder: 'Enter name' %><br><br>
      <%= f.input :address, placeholder: 'Enter address' %><br><br>
      <%= f.input :email, placeholder: 'Enter email' %><br><br>
      <%= f.input :phone, placeholder: 'Enter phone number' %><br><br>
      <%= f.input :work_address, placeholder: 'Address where will the work be performed' %><br><br>
      <%= f.input :description, placeholder: 'Provide a detailed description of the work to be performed' %><br><br><br>
      <%= f.input :start_date, as: :date, html5: true %><br><br>
      <%= f.input :end_date, as: :date, html5: true %><br><br>
      <%= f.input :image, as: :file %>
      <%= f.input :drawing, as: :file %>
    </div>
    <div class="col-md-6" style="margin-top: -25px;">
      <h3>Impacted Neighbors</h3>
      <div>
        <%= f.simple_fields_for :neighbors do |neighbor| %>
          <%= render 'neighbor_fields', :f => neighbor %>
        <% end %>
        <button type="button" class="btn btn-default">
          <%= link_to_add_association 'Add Neighbor', f, :neighbors %>
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <hr>
      <%= f.button :submit %>
    </div>
  </div> 
<% end %>