<p>
  <strong>Name:</strong>
  <%= @design_application.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @design_application.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @design_application.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @design_application.phone %>
</p>

<p>
  <strong>Work Address:</strong>
  <%= @design_application.work_address %>
</p>

<p>
  <strong>Work Description:</strong>
  <%= @design_application.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @design_application.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @design_application.end_date %>
</p>

<p>
  <strong>Image</strong>
  <%= link_to "Download", @design_application.image.url(:original, false) %>
</p>

<p>
	<strong>Drawing</strong>
	<%= link_to "Download", @design_application.drawing.url(:original, false) %>
</p>

<ul>
  <% @design_application.neighbors.each do |neighbor| %>
    <li><%= neighbor.name %></li>
  <% end %>
</ul>

<%= comments_tree_for @comments %>

<hr />

<h1>New comment</h1>
<%= render 'comments/form' %>
